<header>
    <i class="icon-bell"></i>
    <p>Alarm Console</p>
</header>

<div class="widgets">
    <div class="graph"><canvas id="severities"></canvas></div>
    <div class="graph"><canvas id="overtime"></canvas></div>
</div>

<div class="console">
    <div class="filter-bar">
        <div class="elems">
            <i class="icon-cubes"></i>
            <p>Entities</p>
            <b>></b>
            <p>Test</p>
        </div>
        <ul>
            <li>legends:</li>
            <li><div class="color" style="background: #D32F2F"></div><p>Critical</p></li>
            <li><div class="color" style="background: #F9A825"></div><p>Major</p></li>
            <li><div class="color" style="background: #90CAF9"></div><p>Minor</p></li>
        </ul>
    </div>
    <div class="console_options">
        <input type="text" placeholder="filter">
        <div class="display-type">

        </div>
    </div>
    <div class="alarms"></div>
</div>
