<header>
    <i class="icon-bell"></i>
    <p>Alarm Console</p>
</header>

<div class="widgets">
    <div class="graph"><canvas id="severities"></canvas></div>
    <div class="graph"><canvas id="overtime"></canvas></div>
</div>

<div class="console">
    <div class="console_options"></div>
    <div class="alarms">
        <div class="alarm critical">
            <div class="inputs">
                <i class="icon-eye"></i>
                <i class="icon-cog"></i>
            </div>
            <div class="title">
                <p>Entity 01</p>&nbsp;
                <b>correlatekey#id</b>
            </div>
            <p>Alarm message here!</p>
        </div>
        <div class="alarm"></div>
        <div class="alarm"></div>
        <div class="alarm major"></div>
    </div>
</div>
