<div class="title">
    <i class="icon-home"></i>
    <p>Dashboard</p>
    <div class="extendable-bull" id="edit_mode_btn"><i class="icon-pencil"></i><p>Edit mode</p></div>
</div>

<section class="grow">
    <section class="fix">
        <dashboard-widget name="Addons" icon="icon-cubes" draggable="true">
            <table id="addons_table">
                <thead>
                    <tr>
                        <th></th>
                        <th>name</th>
                        <th class="min">version</th>
                        <th class="min">addon version</th>
                        <th>last start</th>
                        <th>last stop</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </dashboard-widget>

        <dashboard-widget name="Last Alarms" icon="icon-bell" class="size-low" draggable="true"></dashboard-widget>

        <dashboard-widget name="CPU Usage" icon="icon-chart-bar" class="size-low" draggable="true">
            <canvas id="test"></canvas>
        </dashboard-widget>

        <section class="widget-add">
            <i class="icon-plus"></i>
            <p>Add widget</p>
        </section>
    </section>
</section>

<template id="widget_template">
    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="css/widgets/default.css">

    <section class="title">
        <i class="widget-icon"></i>
        <p class="widget-name"></p>
        <ul>
            <li><i class="icon-eye"></i></li>
            <!-- <li><i class="icon-cancel"></i></li> -->
        </ul>
    </section>
    <section class="content">
        <slot></slot>
    </section>
</template>
