<div class="title">
    <i class="icon-home"></i>
    <p>Dashboard</p>
    <div class="extendable-bull"><i class="icon-pencil"></i><p>Edit mode</p></div>
</div>
<section id="dashboard">
    <section class="tilefix">
        <section class="tile">
            <section class="title">
                <i class="icon-cubes"></i>
                <p>Addons</p>
                <ul>
                    <li><i class="icon-arrows-cw"></i></li>
                    <li><i class="icon-cancel"></i></li>
                </ul>
            </section>
            <section class="content">
                <table id="addons_table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>name</th>
                            <th class="min">version</th>
                            <th class="min">addon version</th>
                            <th>last start</th>
                            <th>last stop</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </section>
        </section>
        <section class="tile mini">
            <section class="title">
                <i class="icon-bell"></i>
                <p>Last alarms</p>
                <ul>
                    <li><i class="icon-eye"></i></li>
                    <li><i class="icon-cancel"></i></li>
                </ul>
            </section>
            <section class="content"></section>
        </section>
        <section class="tile edit">
            <i class="icon-plus"></i>
            <p>Add widget</p>
        </section>
    </section>
</section>
