<section id="addons">
    <h1>Addons</h1>
    <table>
        <thead>
            <tr>
                <th>State</th>
                <th>Addon name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="center">ok</td>
                <td>Socket</td>
                <td>Socket Addon</td>
            </tr>
            <tr>
                <td class="center">ok</td>
                <td>Gate</td>
                <td>Gate Addon</td>
            </tr>
        </tbody>
    </table>
</section>
