<template id="searchbar">
    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="css/searchbar.css">

    <i class="icon-search"></i>
    <div class="input-filters"></div>
    <input type="text" class="search-bar" placeholder="[[=z.i18n.keys.search]]">
    <div class="help-btn">
        <i class="icon-help"></i>
    </div>

    <div class="search-results hidden">
        <div class="group" id="helper">
            <div class="title">
                <p>options de recherche</p>
            </div>
            <ul>
                <li data-value="alarm"><b>alarm:</b><p>alarm</p></li>
                <li data-value="entity"><b>entity:</b><p>nom de l'entité</p></li>
                <li data-value="mic"><b>mic:</b><p>nom ou id</p></li>
            </ul>
        </div>
        <hr>
        <div class="group hidden" id="history">
            <div class="title">
                <p>historique</p>
                <i class="icon-eye"></i>
            </div>
            <ul>
                <li>alarm: CKING</li>
                <li>CPU</li>
            </ul>
        </div>
        <div class="group hidden" id="items">

        </div>
    </div>
</template>
