<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="../public/css/fontello.css">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Gugi|Titillium+Web" rel="stylesheet">
    <title>IHM</title>
</head>
<body>
    <header>
        <div id="img-slim">
            <img src="" alt="">
        </div>
        <nav>
            <div class="btn">
                <i class="icon-home"></i>
                <p>HOME</p>
            </div>
            <div class="btn">
                <i class="icon-bell"></i>
                <p>ALERTS</p>
            </div>
            <div class="btn">
                <i class="icon-reddit-alien"></i>
                <p>OTHERS</p>
            </div>
        </nav>
    </header>
    <div id="home">
        <div id="infos"></div>
        <div id="board">
            <div class="hori-field">
                <ul>
                    <li class="field1 title" style="flex-grow:2">Name :</li>
                    <li class="field2 title" style="flex-grow:10">Description :</li>
                    <li class="field3 title">Version :</li>
                    <li class="field4 title">Container Version :</li>
                    <li class="field5 title">Ready :</li>
                    <li class="field6 title">Started :</li>
                    <li class="field7 title">Awake :</li>
                    <li class="field8 title" style="flex-grow:3">Callbacks Descriptor :</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
    <script src="../public/js/script.js"></script>
</body>
</html>