<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="../public/css/fontello.css">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Gugi|Titillium+Web" rel="stylesheet">
    <title>IHM</title>
</head>
<body>
    <header>
        <div id="img-slim">
            <img src="" alt="">
        </div>
        <nav>
            <div class="btn" id="home">
                <i class="icon-home"></i>
                <p>HOME</p>
            </div>
            <div class="btn" id="alerts">
                <i class="icon-bell"></i>
                <p>ALERTS</p>
            </div>
        </nav>
    </header>
    <script src="js/script.js"></script>
    <script src="../public/js/script.js"></script>
</body>
</html>