/* JS CLASS */

header > nav > div.header-mouse-over {
    color: #999;
    background-color: #333;
}

header > nav > div.header-click {
    box-shadow: 0 0 6px inset #111;
    background-color: #333;
    color: wheat;
}

.menu-mouse-over {
    color: #dfdfdf;
    background-color: #555;
}

.menu-click {
    color: #dfdfdf;
    background-color: #666;
    box-shadow: 0 0 8px inset #333;
}