/* JS CLASS */

.h-mouse-over {
    color: #999;
    background-color: #555;
}

.h-click {
    box-shadow: 0 0 6px inset #111;
    background-color: #333;
    color: #999;
}

.m-mouse-over {
    color: #dfdfdf;
    background-color: #555;
}

.m-click {
    color: #dfdfdf;
    background-color: #666;
    box-shadow: 0 0 8px inset #333;
}