.icon-search {
    font-size: 24px;
    margin-right: 10px;
    color: var(--primary-color);
}

p, ul, li {
    margin: 0;
    padding: 0;
}

.input-filters {
    display: flex;
    height: 24px;
}
.input-filters > p {
    background: #B0BEC5;
    color: #FFF;
    border-radius: 2px;
    line-height: 24px;
    padding: 0 3px;
    margin-right: 5px;
    font-size: 15px;
    font-style: oblique;
}
input {
    border: none;
    outline: none;
    width: 250px;
    height: 58px;
    background: none;
    font-size: 18px;
    color: #455A64;
}
input::placeholder {
    color: var(--primary-color);
}

.help-btn {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 30px;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-results {
    width: 350px;
    background: #FAFAFA;
    position: absolute;
    left: 310px;
    top: 70px;
    border: 1px solid rgb(214, 207, 204);
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba(44, 43, 40, 0.3);
    box-sizing: border-box;
    padding: 15px;
}
.search-results.hidden {
    display: none;
}

hr {
    height: 1px;
    border: none;
    border-bottom: 1px dashed #CFD8DC;
}
.group {
    display: flex;
    flex-direction: column;
}
    .group.hidden {
        display: none;
    }
    .group .title {
        height: 25px;
        display: flex;
        align-items: center;
        color: #90A4AE;
        margin-bottom: 6px;
    }
        .group .title > p {
            font-weight: bold;
            letter-spacing: 0.7px;
            font-style: oblique;
            font-variant: small-caps;
        }
        .group .title > i {
            margin-left: auto;
        }
    .group ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        font-size: 15px;
    }
        .group ul li {
            height: 30px;
            display: flex;
            align-items: center;
            color: #90A4AE;
        }
        .group ul li.hidden {
            display: none;
        }
        .group ul li b {
            font-weight: bold;
            margin-right: 10px;
            color: #546E7A;
        }

.group + .group {
    margin-top: 15px;
}
