/* HOME PAGE */

div#home {
    display: flex;
    height: 100%;
    border-top: 1px solid #666;
}

    div#home > div#infos {
        width: 250px;
        height: 100%;
        background-color: #333;
    }

    div#home > div#board {
        flex-grow: 1;
        height: 100%;
    }

        div#home > div#board > div.menu {
            display: flex;
            background-color: #444;
            height: 30px;
            border-bottom: 1px solid #666;
            border-left: 1px solid #666
        }

            div#home > div#board > div.menu .btn-board {
                border-right: 1px solid #666;
                height: 100%;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                color: #888
            }

            div#home > div#board > div.menu .btn-board:hover {
                color: #dfdfdf;
            }

            div#home > div#board > div.menu .btn-board i {
                font-size: 120%;
            }

        div#home > div#board > div#label {
            font-weight: bold;
            background-color: #333
        }

            div#home > div#board > div#label li{
                border-bottom: 1px solid #666;
                color: #777;
            }
        
        div#home > div#board > div#addons-list {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: auto;
        }

        
            div#home > div#board > div#addons-list > ul.addons {
                border: 0;
                flex-basis: 25px;
            }

            div#home > div#board > div#addons-list > ul.addons:hover {
                background-color: #555;
                color: wheat;
            }

        div#home > div#board > div.hori-field ul {
            display: flex;
            justify-content: center;
        }

        div#home > div#board > div.hori-field li {
            border-bottom: 1px solid #999;
            border-left: 1px solid #999;
            padding: 10px 10px;
            font-size: 14px;
            display: flex;
            align-items: center;
            white-space: nowrap;
            overflow: hidden;
        }

            div#home > div#board > div.hori-field li.field1{
                width:10%;
            }

            div#home > div#board > div.hori-field li.field2{
                width:5%;
                justify-content: center;
            }

            div#home > div#board > div.hori-field li.field3{
                width:55%;
            }

            div#home > div#board > div.hori-field li.field4{
                width:15%;
            }
            
            div#home > div#board > div.hori-field li.field5{
                width:15%;
            }