html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 120px;
    display: flex;
    border-bottom: 1px solid #333;
    background-color: #555;
    box-shadow: 0 2px 10px #999;
    margin-bottom: 15px;
}

    header > div#img-slim {
        width: 350px;
        height: 100%;
        border-right: 1px solid #333;
    } 

    header > nav {
        flex-grow: 1;
        height: 100%;
        display: flex;
    }

        header > nav > div.btn {
            width: 120px;
            height: 100%;
            border-right: 1px solid #333;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
        }

            header > nav > div.btn p {
                margin-top: 15px;
                font-size: 14px;
                font-weight: bold;
            }

            header > nav > div.btn i {
                font-size: 200%;
            }

            header > nav > div.btn:hover * {
                color: white;
            }

div#home {
    display: flex;
    height: 100%;
    border-top: 1px solid #333;
}

    div#home > div#infos {
        width: 250px;
        height: 100%;
    }

    div#home > div#board {
        flex-grow: 1;
        height: 100%;
        border-left: 1px solid #333;
    }

        div#home > div#board > div#menu {
            display: flex;
            background-color: #eee;
            height: 50px;
            border-bottom: 1px solid #333;
        }

            div#home > div#board > div#menu .btn-board {
                border-right: 1px solid #333;
                height: 100%;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }

            div#home > div#board > div#menu .btn-board:hover {
                background-color: #555;
            }

            div#home > div#board > div#menu .btn-board:hover i {
                color: white
            }

            div#home > div#board > div#menu .btn-board i {
                font-size: 150%;
            }

        div#home > div#board > div#label {
            font-weight: bold;
            background: linear-gradient(#9eb592, white);
        }

            div#home > div#board > div#label li{
                border-bottom: 1px solid #333;
            }
        
        div#home > div#board > div#addons-list {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: auto;
        }

        div#home > div#board > div.addon:hover {
            background-color: #eee;
        }

        div#home > div#board > div.addon ul {
            height: 50px;
        }

        div#home > div#board > div.hori-field ul {
            display: flex;
            justify-content: center;
        }

        div#home > div#board > div.hori-field li {
            border-bottom: 1px solid #999;
            border-right: 1px solid #999;
            padding: 10px 10px;
            font-size: 14px;
            display: flex;
            align-items: center;
            white-space: nowrap;
            overflow: hidden;
        }

            div#home > div#board > div.hori-field li.field1{
                width:10%;
            }

            div#home > div#board > div.hori-field li.field2{
                width:40%;
            }

            div#home > div#board > div.hori-field li.field3{
                width:5%;
            }

            div#home > div#board > div.hori-field li.field4{
                width:15%;
            }
            
            div#home > div#board > div.hori-field li.field5{
                width:5%;
                justify-content: center;
            }

            div#home > div#board > div.hori-field li.field6{
                width:5%;
                justify-content: center;
            }

            div#home > div#board > div.hori-field li.field7{
                width:5%;
                justify-content: center;
            }

            div#home > div#board > div.hori-field li.field8{
                width:15%;
            }

            div#home > div#board > div.hori-field li:last-child {
                border-right: 0
            }
