html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #111;
    box-shadow: 0 2px 5px #aaaaaa;
    color: white;
    display: flex;
    flex-basis: 60px;
    margin-bottom: 80px;
    align-items: center;
}

div.addon {
    border: 1px solid #888;
    cursor: pointer;
    height: 50px;
    margin-bottom: 20px;
    width: 240px;
}

div.addon p {
    background-color: #dfdfdf;
    border-bottom: 1px solid #999;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 2px;
    text-align: center;
}

div.block {
    background-color: rgba(255, 151, 3, .05);
    box-shadow: 0 0 5px inset #404040;
    cursor: pointer;
    height: 650px;
    overflow: auto;
    padding: 20px;
    scrollbar-width: none;
}

div.block::-webkit-scrollbar {
    width: 0;
}

article#apropos-content p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: justify;
}

div.block-addons {
    display: flex;
    cursor: auto;
    overflow: hidden;
    padding: 20px 0;
    position: relative;
}

div.etat {
    display: flex;
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
    justify-content: space-around;
    margin-top: 7px;
}

div.hr {
    align-self: center;
    background-color: #555;
    border: 1px solid black;
    border-radius: 2px;
    height: 100%;
    width: 5px;
}

h2.title {
    font-family: 'Gugi', cursive;
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
}

div#addon-infos {
    flex-grow: 1;
    height: 100%;
    margin-right: 20px;
    margin-left: 20px;
}

div#addon-list {
    overflow: auto;
    padding: 0 20px;
}

div#addons-content {
    flex-grow: 1;
    margin: 0 20px 0 20px;
}

div#apropos {
    margin: 0 20px 0 20px;
    text-align: center;
    width: 500px;
}

div#arrow {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #555;
    margin: 0 auto;
    margin-top: 10px;
    height: 0;
    width: 0;
}

div#container {
    display: flex;
    flex-grow: 1;
}

div#img-slim {
    width: 250px;
    text-align: center
}

div#menu > ul li > a{
    text-decoration: none;
    color: white;
    font-family: 'Gugi', cursive;
    padding: 5px;
    border-radius: 5px;
    transition: .4s background linear;
}

div#menu > ul li > a:hover{
    background-color: white;
    color: black;
}

div#menu > ul li {
    margin: 0 20px;
}

div#menu > ul {
    display: flex;
}
