html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color:#f6f1e8;
}

header {
    height: 120px;
    display: flex;
    border-bottom: 1px solid #333;
    background-color: #222;
    box-shadow: 0 2px 8px #111;
    flex-shrink: 0;
    align-items: center;
    z-index: 1;
}

    header > div#img-slim {
        width: 250px;
        text-align: center;
    } 

        header > div#img-slim img {
            width: 100px;
            filter: drop-shadow(0 0 7px #444)
        }

    header > nav {
        flex-grow: 1;
        height: 100%;
        display: flex;
    }

    header > nav > div#home-btn {
        border-left: 1px solid #333;
    }

        header > nav > div.btn {
            width: 120px;
            height: 100%;
            border-right: 1px solid #333;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
            background-color: #222;
            color: #777;
        }

            header > nav > div.btn p {
                margin-top: 15px;
                font-size: 14px;
                font-weight: bold;
            }
        
            header > nav > div.btn i {
                font-size: 200%;
            }

div#ctx-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 120px;
    left: 500px;
    top: 500px;
    background-color: #eee;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #666;
    box-shadow: 0 0 8px #333;
}

    div#ctx-menu p:first-child {
        background-color: #222;
        font-weight: 500;
        color: #eee;
        text-align: center;
    } 

    div#ctx-menu p {
        padding: 5px 10px;
    }

    div#ctx-menu p:hover:not(:first-child) {
        background-color: #ccc;
    }

    div#ctx-menu p:last-child {
        border-bottom: 0;
    }