table .state {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7CB342;
    color: #FFF;
    font-size: 14px;
}

table {
    border-spacing: 0px;
    animation: fadeIn 0.5s;
    margin: 0;
    width: 100%;
}
    table > thead {
        background: var(--primary-color);
        color: #FFF;
    }
        table > thead th {
            height: 27px;
            font-size: 18px;
            line-height: 27px;
            text-align: left;
            padding: 0 10px;
            font-weight: bold;
            font-variant: small-caps;
        }
        table > thead th.min {
            text-align: center;
            width: 120px;
        }

    table > tbody tr {
        height: 35px;
    }
    table > tbody tr.hidden {
        display: none;
    }

        table > tbody tr td {
            color: #607D8B;
            padding: 5px 10px;
            border-bottom: 2px solid rgba(207, 216, 220, 0.5);
        }
        table > tbody tr td.center {
            text-align: center;
        }
