* {
    padding: 0;
    margin: 0;
}

table .state {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7CB342;
    color: #FFF;
    font-size: 14px;
}

table {
    border-spacing: 0px;
    animation: fadeIn 0.5s;
    margin: 0;
    width: 100%;
}
    table > thead {
        background: var(--primary-color);
        color: #FFF;
    }
        table > thead th {
            height: 27px;
            font-size: 18px;
            line-height: 27px;
            text-align: left;
            padding: 0 10px;
            font-weight: bold;
            font-variant: small-caps;
            text-align: center;
        }
        table > thead th.min {
            width: 120px;
        }

    table > tbody tr {
        height: 35px;
    }
    table > tbody tr.hidden {
        display: none;
    }

        table > tbody tr td {
            color: #607D8B;
            padding: 5px 10px;
            border-bottom: 2px solid rgba(207, 216, 220, 0.5);
            text-align: center;
            /* position: relative; */
        }
        table > tbody tr td .state {
            margin: auto;
        }
        table > tbody tr td:nth-child(2) {
            text-align: left;
        }
        table > tbody tr td .icon-cog:hover {
            display: flex;
            justify-content: center;
        }

            table > tbody tr td .icon-cog:hover > .options{
                display: flex;
                cursor: pointer;
            }

        table > tbody tr td .options {
            position: absolute;
            display: none;
            list-style: none;
            z-index: 1;
            padding-top: 20px;
        }

            table > tbody tr td .options > ul {
                border: 1px solid black;
                background: red;
                list-style: none;
                display: flex;
                flex-direction: column;
                padding: 0;
                margin: 0;
                align-items: center;
            }
                table > tbody tr td .options > ul > li {
                    height: 20px;
                    display: flex;
                }