:root {
    display: flex;
}

section[slot="content"] {
    display: flex;
    flex-grow: 1;
}

aside {
    width: 200px;
    background: purple;
    flex-shrink: 0;
    overflow-y: auto;
}

    aside > ul {
        display: flex;
        flex-direction: column;
    }

        aside > ul > li {
            padding: 4px 0px 4px 10px;
            background: pink;
            cursor: pointer;
        }
        aside > ul > li:hover {
            background: rgb(255, 102, 127);
        }
        aside > ul > li ~ li {
            margin-top: 2px;
        }

#callback-response {
    background: blue;
    flex-grow: 1;
}