header {
    height: 50px;
    background: #ECEFF1;
    display: flex;
    flex-shrink: 0;
    color: #455A64;
    padding-left: 15px;
    align-items: center;
    font-size: 24px;
    border-bottom: 2px solid #FFF;
}
    header > p {
        font-weight: 300;
        margin-left: 10px;
        font-size: 20px;
        font-variant-caps: titling-caps;
    }
    header > ul {
        margin-left: auto;
        display: flex;
        height: inherit;
    }
        header > ul li {
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: 2px solid #FFF;
            transition: 0.2s all linear;
        }
            header > ul li:hover {
                color: var(--secondary-color);
                cursor: pointer;
                box-shadow: 1px 1px 10px #CFD8DC inset;
            }

.content {
    flex-grow: 1;
    box-shadow: 1px 1px 10px #EEE inset;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    overflow-y: auto;
}
