dashboard-widget {
    height: 350px;
    flex-grow: 1;
    flex-basis: 700px;
    margin-left: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    overflow: hidden;
    box-sizing: border-box;
}
    dashboard-widget.size-low {
        flex-basis: 350px;
    }
    dashboard-widget.highlight {
        border: 2px dashed var(--primary-color);
    }

.widget-add {
    height: 350px;
    flex-grow: 1;
    margin-left: 15px;
    margin-top: 15px;
    display: none;
    border-radius: 6px;
    box-sizing: border-box;
    flex-basis: 350px;
    border: 2px dashed #B0BEC5;
    color: #90A4AE;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 26px;
    text-shadow: 1px 1px 10px rgba(129, 212, 250, 0.45);
}
    .widget-add:hover {
        border-color: var(--secondary-color);
        color: var(--secondary-color);
        cursor: pointer;
    }
